*
{
    --orange: #fa940f;
    --border: #E0E0E0;
    --grey: #4F4F4F;
    box-sizing: border-box;
}

body
{
    font-family: 'Roboto';
    background: #fffbf9;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    background: var(--orange);
}

nav a
{
    text-decoration: none;
    color: #FFF;
}

nav .logo_polyphonia
{
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 600;
    font-size: 25px;
}

nav .logo_polyphonia img
{
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

nav .nav_liens a
{
    padding: 0 16px;
    text-transform: uppercase;
    font-size: 14px;
}

.container
{
    padding: 24px 48px;
    width: 70%;
    margin: 0 auto;
}

.container h1
{
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

/*********************************************************

    PAGE D'ACCUEIL

*********************************************************/

.message_presentation
{
    padding: 16px 8px;
    color: #276F86;
    font-size: 14px;
    background: #F8FFFF;
    border: 1px solid #A9D5DE;
    border-radius: 5px;
    width: 50%;
    margin-top: 16px;
    line-height: 17px;
}

.recherche_projet
{
    padding: 40px 0;
}

.recherche_projet .recherche
{
    border: 1px solid var(--border);
    border-left: 2px solid var(--orange);
    padding: 8px;
    width: 32%;
}

.pagination
{
    padding: 16px 0;
    text-align: center;
}

.pagination ul li
{
    display: inline-block;
    margin: 0 8px;
    padding: 8px;
    width: 35px;
    height: 35px;
    border: 1px solid var(--border);
    font-size: 17px;
    text-align: center;
    vertical-align: middle;
    transition-duration: .3s;
    background: #FFF;
}

.pagination ul li:hover
{
    background: var(--border);
    cursor: pointer; 
    transition-duration: .3s;
}

.pagination ul li.actif
{
    background: var(--orange);
}

.pagination ul li.actif a
{
    color: #FFF;
}

.pagination ul li a
{
    text-decoration: none;
    color: #000;
}

.liste_projets
{
    display: grid;
    grid-template-columns: repeat(3, 32%);
    column-gap: 16px;
}

.projet
{
    background: #FFF;
    border: 1px solid var(--border);
    /*box-shadow: 0 2px 10px #9c9c9c;*/
    border-radius: 5px;
    margin-bottom: 18px;
}

.projet .image_projet
{
    height: 166px;
}

.projet .image_projet img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projet .corps_projet
{
    padding: 8px;
}

.projet .titre_projet
{
    font-size: 20px;
    font-weight: 600;
    min-height: 40px;
    text-transform: uppercase;
}

.projet .description_projet
{
    font-size: 12px;
    color: var(--grey);
    line-height: 15px;
    margin-top: 24px;
}

.projet .footer_projet
{
    margin-top: 24px;
    padding: 16px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infos_projet
{
    display: flex;
    justify-content: flex-start;
}

.auteur_projet,
.date_projet
{
    display: flex;
    align-items: center;
    padding-right: 8px;
}

.auteur_projet img,
.date_projet img
{
    width: 14px;
    height: 14px;
    margin-right: 8px;
}

.auteur_projet .nom_auteur,
.date_projet .date
{
    font-size: 12px;
    color: var(--grey);
}

.btn_lire_projet
{
    background: var(--orange);
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
}

.btn_lire_projet:hover
{
    cursor: pointer;
}

.btn_lire_projet img
{
    margin-left: 8px;
}

/*********************************************************

    PAGE PROJET

*********************************************************/

.projet_header
{
    height: 500px;
    position: relative;
}

.projet_header .bloc_noir
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.445);
}

.projet_header .titre
{
    position: absolute;
    background: #FFF;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    top: calc(50% - 50px);
    mix-blend-mode: screen;
}

.projet_contenu
{
    padding: 36px 0;
    line-height: 30px;
    color: var(--grey);
}

.projet_contenu .projet_actions
{
    padding: 16px 0;
}

.projet_contenu .projet_actions img
{
    width: 20px;
    height: 20px;
}

.projet_contenu .projet_actions .exporter_pdf
{
    border: 1px solid var(--orange);
    background: none;
    padding: 8px 16px;
}

/*********************************************************

    PAGE 404 : NOT FOUND

*********************************************************/

.error_page
{
    background: #fffbf9;
    height: 100vh;
    text-align: center;
    padding: 25px;
}

.error_content
{
    display: grid;
    grid-template-columns: repeat(2, 49%);
    align-items: center;
    column-gap: 10px;
    height: 90vh;
    width: 70%;
    margin: 0 auto;
}

.error_page h1
{
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--orange);
}

.error_page h3
{
    font-size: 30px;
    font-weight: 600;
    margin: 30px 0;
}

.error_page a
{
    display: block;
    margin: 50px auto 0 auto;
    width: 30%;
    border: 2px solid var(--orange);
    padding: 16px;
    text-decoration: none;
    color: var(--orange);
    transition-duration: .3s;
    font-weight: 600;
}

.error_page a:hover
{
    background: var(--orange);
    color: #FFF;
    transition-duration: .3s;
}

/*********************************************************

    RESPONSIVE DESIGN

*********************************************************/

@media only screen and (max-width: 700px)
{
    nav
    {
        padding: 8px;
    }

    nav .logo_polyphonia
    {
        font-size: 20px;
    }

    nav .logo_polyphonia img
    {
        width: 30px;
        height: 30px;
    }

    .nav_liens
    {
        display: none;
    }

    .container
    {
        width: 100%;
        padding: 8px;
    }

    .message_presentation
    {
        width: 100%;
    }

    .recherche_projet .recherche
    {
        width: 100%;
    }

    .liste_projets
    {
        display: block;
    }
}