*
{
    --orange: #fa940f;
    --orange_clair: #fa940f9a;
    --border: #E0E0E0;
    --grey: #4F4F4F;
    --links: #276F86;
    box-sizing: border-box;
}

br 
{
    content: "";
    display: block;
    margin-bottom: 1em;
}

body
{
    font-family: 'Roboto';
    background: #fffbf9;
}

form label
{
    display: block;
    margin-bottom: 8px;
    font-size: 11px;
    color: rgba(0,0,0,.87);
    letter-spacing: 1px;
    text-align: left;
}

form .form_ligne
{
    width: 100%;
    padding: 16px 0;
}

form .form_ligne input[type="text"],
form .form_ligne input[type="password"],
form textarea
{
    width: 100%;
    display: block;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
}

form textarea
{
    resize: none;
    min-height: 500px;
    font-family: 'Roboto';
}

.erreur
{
    box-shadow: 0 0 0 1px #e0b4b4 inset,0 0 0 0 transparent;
    background-color: #fff6f6;
    color: #9f3a38;
    padding: 1em 1.5em;
    margin-top: 8px;
}

.succes
{
    box-shadow: 0 0 0 1px #a3c293 inset,0 0 0 0 transparent;
    background-color: #fcfff5;
    color: #2c662d;
    padding: 1em 1.5em;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    background: #FFF;
    border-bottom: 2px solid var(--orange);
}

nav a
{
    text-decoration: none;
    color: var(--orange);
}

nav .logo_polyphonia
{
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 600;
    font-size: 25px;
}

nav .logo_polyphonia img
{
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

nav .nav_liens a
{
    padding: 8px 16px;
    letter-spacing: 2px;
    font-size: 14px;
    transition-duration: .3s;
    color: var(--orange_clair);
}

nav .nav_liens a.actif
{
    color: var(--orange);
}

nav .nav_liens a:hover
{
    color: var(--orange);
    transition-duration: .3s;
}

.container
{
    padding: 24px 48px;
    width: 70%;
    margin: 16px auto;
    background: #FFF;
    border: 1px solid var(--border);
}

.container h1
{
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

/*********************************************************

    PAGE D'ACCUEIL

*********************************************************/

.message_presentation
{
    padding: 16px 8px;
    color: #276F86;
    font-size: 14px;
    background: #F8FFFF;
    border: 1px solid #A9D5DE;
    border-radius: 5px;
    width: 50%;
    margin-top: 16px;
    line-height: 17px;
}

.recherche_projet
{
    padding: 40px 0;
}

.recherche_projet .recherche
{
    border: 1px solid var(--border);
    border-left: 2px solid var(--orange);
    padding: 8px;
    width: 32%;
}

.pagination
{
    padding: 16px 0;
    text-align: center;
}

.pagination ul li
{
    display: inline-block;
    margin: 0 8px;
    padding: 8px;
    width: 35px;
    height: 35px;
    border: 1px solid var(--border);
    font-size: 17px;
    text-align: center;
    vertical-align: middle;
    transition-duration: .3s;
    background: #FFF;
}

.pagination ul li:hover
{
    background: var(--border);
    cursor: pointer; 
    transition-duration: .3s;
}

.pagination ul li.actif
{
    background: var(--orange);
}

.pagination ul li.actif a
{
    color: #FFF;
}

.pagination ul li a
{
    text-decoration: none;
    color: #000;
}

.nbr_projets
{
    padding: 8px 0;
    font-size: 12px;
    font-weight: 600;
}

.liste_projets
{
    display: grid;
    grid-template-columns: repeat(3, 32%);
    column-gap: 16px;
}

.projet
{
    background: #FFF;
    border: 1px solid var(--border);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    margin-bottom: 18px;
}

.projet .image_projet
{
    height: 166px;
}

.projet .image_projet img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projet .corps_projet
{
    padding: 16px 8px;
    width: 90%;
    margin: 0 auto;
}

.projet .titre_projet
{
    font-size: 18px;
    min-height: 40px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.projet .description_projet
{
    font-size: 12px;
    color: var(--grey);
    line-height: 15px;
    margin-top: 24px;
    min-height: 180px;
}

.projet .footer_projet
{
    margin: 24px auto 16px auto;
    padding: 16px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.infos_projet
{
    display: flex;
    justify-content: flex-start;
}

.auteur_projet,
.date_projet
{
    display: flex;
    align-items: center;
    padding-right: 8px;
}

.auteur_projet img,
.date_projet img
{
    width: 14px;
    height: 14px;
    margin-right: 8px;
}

.auteur_projet .nom_auteur,
.date_projet .date
{
    font-size: 12px;
    color: var(--grey);
}

.btn_lire_projet
{
    background: var(--orange);
    color: #FFF;
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.btn_lire_projet:hover
{
    cursor: pointer;
    background: var(--orange_clair);
}

/*********************************************************

    PAGE PROJET

*********************************************************/

.projet_header
{
    height: 500px;
    position: relative;
}

.projet_header .bloc_noir
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.445);
}

.projet_header .titre
{
    position: absolute;
    background: #FFF;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    top: calc(50% - 50px);
    mix-blend-mode: screen;
}

.projet_contenu
{
    width: 70%;
    margin: 16px auto;
    line-height: 30px;
    color: var(--grey);
    background: #FFF;
    /*border: 1px solid var(--border);*/
}

.projet_contenu__top
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 2px solid var(--orange);
}

.projet_contenu .projet_actions
{
    padding: 16px 0;
}

.projet_contenu .projet_actions img
{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.projet_contenu .projet_actions .exporter_pdf
{
    border-style: solid;
    border-width: 2px;
    border: 2px solid var(--orange);
    background: none;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    transition-duration: .3s;
    font-size: 12px;
}

.projet_contenu .projet_actions .exporter_pdf i
{
    font-size: 14px;
    margin-right: 5px;
}

.projet_contenu .projet_actions .exporter_pdf:hover
{
    background: var(--orange);
    color: #FFF;
    transition-duration: .3s;
    cursor: pointer;
}

.projet_contenu .projet_infos
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.projet_contenu .projet_infos > *
{
    padding: 0 8px;
    color: var(--grey);
    font-size: 13px;
}

.projet_contenu .projet_texte
{
    padding: 36px;
}

.projet_contenu__footer
{
    padding: 16px;
}

.projet_contenu__footer a
{
    font-size: 12px;
    color: var(--links);
}

/*********************************************************

    CONNEXION

*********************************************************/

.formulaire_connexion
{
    text-align: center;
}

.formulaire_connexion img
{
    width: 150px;
    height: 150px;
}

.formulaire_connexion form
{
    width: 30%;
    margin: 0 auto;
}

.formulaire_connexion button
{
    display: block;
    width: 40%;
    margin: 16px auto 0 auto;
    border: 1px solid var(--orange);
    background: none;
    color: var(--orange);
    font-weight: 600;
    padding: 8px;
    transition-duration: .3s;
}

.formulaire_connexion button:hover
{
    cursor: pointer;
    background: var(--orange);
    color: #FFF;
    transition-duration: .3s;
}

/*********************************************************

    ADMINISTRATION

*********************************************************/

.btn_nouveau_projet
{
    display: block;
    width: 170px;
    text-align: center;
    font-size: 12px;
    margin-top: 16px;
    border: none;
    padding: 8px 16px;
    border: 1px solid var(--orange);
    color: var(--orange);
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: .3s;
}

.btn_nouveau_projet:hover
{
    background: var(--orange);
    color: #FFF;
    transition-duration: .3s;
}

.administration
{
    margin-top: 16px;
    padding: 16px;
}

.administration .tbl_header,
.administration .tbl_contenu
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 8px;
    max-height: 120px;
    text-align: center;
}

.administration .tbl_header .tbl_header__col,
.administration .tbl_contenu .tbl_contenu__col
{
    padding: 0 16px;
}

.administration .tbl_header
{
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--orange);
    background: var(--grey);
}

.administration .tbl_contenu
{
    border-bottom: 1px solid var(--border);
    margin: 32px 0;
}

.administration .tbl_contenu img
{
    width: 70%;
    height: 100px;
}

.administration .tbl_actions
{
    display: flex;
    justify-content: end;
}

.administration .tbl_actions .icon
{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.nouveau_projet
{
    margin-top: 16px;
    background: #FFF;
    /*border: 1px solid var(--border);*/
    padding: 16px;
    border-radius: 5px;
}

.nouveau_projet form
{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.nouveau_projet .ajouter_image
{
    height: 400px;
    background: #FFF;
    border: 2px dashed var(--border);
    position: relative;
}

.nouveau_projet .ajouter_image .icon
{
    position: absolute;
    width: 60px;
    height: 60px;
    top: calc(25% + 65px);
    right: calc(25% + 170px);
}

.nouveau_projet .ajouter_image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nouveau_projet .ajouter_image:hover
{
    cursor: pointer;
}

.nouveau_projet button
{
    display: block;
    width: 10%;
    margin: 16px auto 0 auto;
    background: var(--orange);
    color: #FFF;
    padding: 10px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

/*********************************************************

    PAGE 404 : NOT FOUND

*********************************************************/

.error_page
{
    background: #fffbf9;
    height: 100vh;
    text-align: center;
    padding: 25px;
}

.error_content
{
    display: grid;
    grid-template-columns: repeat(2, 49%);
    align-items: center;
    column-gap: 10px;
    height: 90vh;
    width: 70%;
    margin: 0 auto;
}

.error_page h1
{
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--orange);
}

.error_page h3
{
    font-size: 30px;
    font-weight: 600;
    margin: 30px 0;
}

.error_page a
{
    display: block;
    margin: 50px auto 0 auto;
    width: 30%;
    border: 2px solid var(--orange);
    padding: 16px;
    text-decoration: none;
    color: var(--orange);
    transition-duration: .3s;
    font-weight: 600;
}

.error_page a:hover
{
    background: var(--orange);
    color: #FFF;
    transition-duration: .3s;
}

/*********************************************************

    RESPONSIVE DESIGN

*********************************************************/

@media only screen and (max-width: 700px)
{
    nav
    {
        padding: 8px;
    }

    nav .logo_polyphonia
    {
        font-size: 20px;
    }

    nav .logo_polyphonia img
    {
        width: 30px;
        height: 30px;
    }

    .nav_liens
    {
        display: none;
    }

    .container
    {
        width: 100%;
        padding: 8px;
    }

    .message_presentation
    {
        width: 100%;
    }

    .recherche_projet .recherche
    {
        width: 100%;
    }

    .liste_projets
    {
        display: block;
    }
}