*
{
    --orange: #fa940f;
    --orange_clair: #fa940f9a;
    --border: #E0E0E0;
    --grey: #4F4F4F;
    --links: #276F86;
    box-sizing: border-box;
}

br 
{
    content: "";
    display: block;
    margin-bottom: 1em;
}

.gras
{
    font-weight: 600;
}

body
{
    font-family: 'Open Sans', sans-serif;
}

form label
{
    display: block;
    margin-bottom: 16px;
    font-size: 11px;
    color: var(--orange_clair);
    letter-spacing: .5px;
    font-weight: 600;
    text-align: left;
}

form .form_ligne
{
    width: 100%;
    padding-bottom: 16px;
}

form .form_ligne input[type="text"],
form .form_ligne input[type="mail"],
form .form_ligne input[type="password"],
form textarea
{
    width: 100%;
    display: block;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
}

form textarea
{
    resize: none;
    min-height: 500px;
    font-family: 'Open Sans', sans-serif;
}

.erreur
{
    box-shadow: 0 0 0 1px #e0b4b4 inset,0 0 0 0 transparent;
    background-color: #fff6f6;
    color: #9f3a38;
    padding: 1em 1.5em;
    margin: 8px 0;
    font-size: 12px;
}

.succes
{
    box-shadow: 0 0 0 1px #a3c293 inset,0 0 0 0 transparent;
    background-color: #fcfff5;
    color: #2c662d;
    padding: 1em 1.5em;
    margin: 8px 0;
    font-size: 12px;
}

nav
{
    padding: 24px;
    background: #FFF;
    border-bottom: 2px solid var(--orange);
    width: 100%;
    position: fixed;
    z-index: 2;
}

nav .nav_content
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

nav a
{
    text-decoration: none;
    color: var(--orange);
}

nav a.btn_connexion
{
    border: 2px solid var(--orange);
    background: var(--orange);
    color: #FFF !important;
    border-radius: 5px;
    padding: 16px !important;
    transition-duration: .3s;
}

nav a.btn_connexion:hover
{
    background-color: #FFF;
    color: var(--orange) !important;
    transition-duration: .3s;
}

nav a.btn_inscription
{
    border: 2px solid var(--orange_clair);
    color: var(--orange_clair) !important;
    border-radius: 5px;
    padding: 16px !important;
    transition-duration: .3s;
}

nav a.btn_inscription:hover
{
    border: 2px solid var(--orange);
    color: var(--orange) !important;
    transition-duration: .3s;
}

nav .logo_polyphonia
{
    display: flex;
    align-items: center;
    justify-content: start;
}

nav .logo_polyphonia .logo
{
    display: flex;
    align-items: center;
}

nav .logo_polyphonia .logo .main
{
    font-weight: 600;
    margin-right: 16px;
}

nav .nav_content .menu_mobile
{
    display: none !important;
}

nav .logo_polyphonia .logo img
{
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

nav .logo_polyphonia .nav_liens
{
    display: flex;
    align-items: center;
}

nav .logo_polyphonia .nav_liens a
{
    padding: 0 16px;
    letter-spacing: 2px;
    font-size: 14px;
    transition-duration: .3s;
    color: var(--orange_clair);
}

nav .logo_polyphonia .nav_liens a i
{
    vertical-align: text-bottom;
    margin-right: 5px;
}

nav .logo_polyphonia .nav_liens a.actif
{
    color: var(--orange);
}

nav .logo_polyphonia .nav_liens a:hover
{
    color: var(--orange);
    transition-duration: .3s;
}

nav .cta .avatar
{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid var(--orange);
    object-fit: cover;
}

nav .cta .dropdown
{
    display: none;
    position: absolute;
    right: 10%;
    background: #FFF;
    padding: 0 16px;
    border: 1px solid var(--orange);
    z-index: 2;
}

nav .cta .dropdown.is_visible
{
    display: block;
}

nav .cta .dropdown_lien
{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    padding: 8px 0;
}

nav .cta .dropdown_lien i 
{
    margin-right: 8px;
}

nav .cta .dropdown .dropdown_lien a
{
    color: #000;
    transition-duration: .3s;
    text-align: center;
    font-size: 13px;
}

nav .cta .dropdown .dropdown_lien a:hover
{
    color: var(--orange);
    transition-duration: .3s;
}

nav .cta .dropdown .dropdown_lien a b 
{
    font-weight: 600;
}

.container
{
    padding: 24px 48px;
    width: 80%;
    margin: 0 auto;
}

.container h1
{
    font-weight: 700;
    font-size: 1.5rem;
}

/*********************************************************

    PAGE D'ACCUEIL

*********************************************************/

.jumbotron
{
    color: #FFF;
    padding: 32px 16px;
    text-align: center;
    margin-bottom: 8px;
    background: linear-gradient(135deg, rgb(255, 171, 69) 0%, rgb(248, 172, 79) 35%, rgba(242,168,84,1) 51%, rgba(237,156,57,1) 71%, rgba(222,122,0,1) 100%);
}

.jumbotron img
{
    width: 150px;
    height: 150px;
}

.message_presentation
{
    padding: 16px 0;
    line-height: 1.8;
    font-size: 20px;
    width: 70%;
    margin:  auto;
}

.recherche_projet
{
    padding: 40px 0;
}

.recherche_projet .recherche
{
    border: 1px solid #FFF;
    border-radius: 5px;
    padding: 10px;
    width: 32%;
}

.pagination
{
    padding: 16px 0;
    text-align: center;
}

.pagination ul li
{
    display: inline-block;
    margin: 0 8px;
    padding: 8px;
    width: 35px;
    height: 35px;
    border: 1px solid var(--border);
    font-size: 17px;
    text-align: center;
    vertical-align: middle;
    transition-duration: .3s;
    background: #FFF;
    border-radius: 5px;
}

.pagination ul li:hover
{
    background: var(--border);
    cursor: pointer; 
    transition-duration: .3s;
}

.pagination ul li.actif
{
    background: var(--orange);
    border: none;
}

.pagination ul li.actif a
{
    color: #FFF;
}

.pagination ul li a
{
    text-decoration: none;
    color: #000;
}

.nbr_projets
{
    padding: 16px 0;
    font-size: 14px;
}

.liste_projets
{
    display: grid;
    grid-template-columns: repeat(4, 24%);
    column-gap: 16px;
}

.projet
{
    background: #FFF;
    box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;;
    border-radius: 5px;
    margin-bottom: 18px;
}

.projet .image_projet
{
    height: 166px;
}

.projet .image_projet img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projet .corps_projet
{
    padding: 16px 8px;
    width: 90%;
    margin: 0 auto;
}

.projet .titre_projet
{
    font-size: 18px;
    min-height: 40px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.projet .description_projet
{
    font-size: 12px;
    color: var(--grey);
    line-height: 15px;
    margin-top: 24px;
    min-height: 210px;
}

.projet .description_projet .btn_lire_projet
{
    color: var(--links);
}

.projet .footer_projet
{
    margin: 24px auto 16px auto;
    padding: 16px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.infos_projet
{
    display: flex;
    justify-content: flex-start;
}

.auteur_projet,
.date_projet
{
    display: flex;
    align-items: center;
    padding-right: 8px;
}

.auteur_projet img,
.date_projet img
{
    width: 14px;
    height: 14px;
    margin-right: 8px;
}

.auteur_projet .nom_auteur,
.date_projet .date
{
    font-size: 12px;
    color: var(--grey);
}

/*********************************************************

    PAGE PROJET

*********************************************************/

.projet_header
{
    height: 700px;
    position: relative;
}

.projet_header .bloc_noir
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.445);
}

.projet_header .titre
{
    position: absolute;
    background: #FFF;
    height: 70px;
    line-height: 70px;
    font-size: 25px;
    text-align: center;
    width: 100%;
    top: calc(50% - 50px);
    mix-blend-mode: screen;
}

.projet_contenu
{
    width: 70%;
    margin: 16px auto;
    line-height: 30px;
    color: var(--grey);
    background: #FFF;
    /*border: 1px solid var(--border);*/
}

.projet_contenu__top
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 2px solid var(--orange);
}

.projet_contenu .projet_actions
{
    padding: 16px 0;
}

.projet_contenu .projet_actions img
{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.projet_contenu .projet_actions .exporter_pdf
{
    border-style: solid;
    border-width: 2px;
    border: 2px solid var(--orange);
    background: none;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    transition-duration: .3s;
    font-size: 12px;
    color: var(--orange);
    text-decoration: none;
}

.projet_contenu .projet_actions .exporter_pdf i
{
    font-size: 14px;
    margin-right: 5px;
}

.projet_contenu .projet_actions .exporter_pdf:hover
{
    background: var(--orange);
    color: #FFF;
    transition-duration: .3s;
}

.projet_contenu .projet_infos
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.projet_contenu .projet_infos > *
{
    padding: 0 8px;
    color: var(--grey);
    font-size: 13px;
}

.projet_contenu .projet_texte
{
    padding: 36px;
    line-height: 1.5;
}

.projet_contenu .projet_texte strong
{
    font-weight: 600;
    color: #000;
}

.projet_contenu .projet_texte em
{
    font-style: italic;
}

.projet_contenu .projet_texte a
{
    color: var(--links);
}

.projet_contenu .projet_texte ul li
{
    list-style: inside;
    padding-left: 8px;
}

.projet_contenu .projet_texte li > ul > li
{
    list-style: inside square;
    padding-left: 32px;
}

.projet_contenu__footer
{
    border-top: 2px solid var(--orange);
    padding: 16px;
}

.projet_contenu__footer .message 
{
    color: #000;
    padding: 16px 0;
    font-style: italic;
}

.projet_contenu__footer .message .nota_bene
{
    font-weight: 600;
    text-decoration: underline;
}

.projet_contenu__footer .message b
{
    font-weight: 600;
}

.projet_contenu__footer a
{
    font-size: 12px;
    color: var(--links);
}

/*********************************************************

    CONNEXION

*********************************************************/

.formulaire_connexion
{
    text-align: center;
}

.formulaire_connexion img
{
    width: 150px;
    height: 150px;
}

.formulaire_connexion form
{
    width: 30%;
    margin: 32px auto;
}

.formulaire_connexion button
{
    display: block;
    width: 40%;
    margin: 16px auto 0 auto;
    border: 1px solid var(--orange);
    background: none;
    color: var(--orange);
    font-weight: 600;
    padding: 8px;
    transition-duration: .3s;
}

.formulaire_connexion button:hover
{
    cursor: pointer;
    background: var(--orange);
    color: #FFF;
    transition-duration: .3s;
}

/*********************************************************

    ADMINISTRATION

*********************************************************/

.btn_nouveau_projet
{
    display: block;
    width: 170px;
    text-align: center;
    font-size: 12px;
    margin-top: 16px;
    border: none;
    padding: 8px 16px;
    border: 1px solid var(--orange);
    color: var(--orange);
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: .3s;
}

.btn_nouveau_projet:hover
{
    background: var(--orange);
    color: #FFF;
    transition-duration: .3s;
}

.administration
{
    margin-top: 16px;
    background: #f5f5f5;
}

.administration .tbl_header,
.administration .tbl_contenu
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    padding: 8px;
    text-align: center;
}

.administration .tbl_header .tbl_header__col
{
    padding: 8px 16px;
}

.administration .tbl_contenu .tbl_contenu__col
{
    padding: 0 16px;
}

.administration .tbl_header
{
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--orange);
    background: var(--grey);
}

.administration .tbl_contenu
{
    border: 1px solid var(--border);
    margin: 32px 0;
    background: #FFF;
    font-size: 13px;
    min-height: 120px;
}

.administration .tbl_contenu.brouillon 
{
    background: #c7edff;
}

.administration .tbl_contenu .titre
{
    font-weight: 600;     
}

.administration .tbl_contenu img
{
    width: 70%;
    height: 100px;
    object-fit: cover;
}

.administration .tbl_contenu .label_brouillon
{
    font-size: 12px;
    margin-top: 8px;
    font-style: italic;
    line-height: 1.5;
    color: var(--grey);
}

.administration .tbl_actions .btn_administration
{
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 11px;
    color: #FFF;
    padding: 16px 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

.administration .tbl_actions .btn_administration.editer
{
    background: #388E3C;
}

.administration .tbl_actions .btn_administration.brouillon
{
    background: #e0f7fa;
    color: #000;
}

.administration .tbl_actions .btn_administration.remettre_brouillon
{
    background: #1976D2;
}

.administration .tbl_actions .btn_administration.supprimer
{
    background: #cc0e0e;
}

.nouveau_projet
{
    margin-top: 16px;
    background: #FFF;
    padding: 16px;
    border-radius: 5px;
}

.nouveau_projet form
{
    text-align: center;
}

.nouveau_projet form .formulaire
{
    display: flex;
    justify-content: center;
}

.nouveau_projet form .formulaire .bloc_formulaire
{
    padding: 16px;
}

.nouveau_projet form .formulaire .bloc_formulaire.droite 
{
    width: 60%;
}

.nouveau_projet form .formulaire .bloc_formulaire.gauche
{
    width: 40%;
}

.nouveau_projet .ajouter_image_container
{
    position: relative;
    width: 100%;
    padding-top: 50%;
    height: 0;
}

.nouveau_projet .ajouter_image
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    border: 2px dashed var(--border);
}

.nouveau_projet .ajouter_image.has_image
{
    border: 1px solid var(--border);
}

.nouveau_projet .ajouter_image .btn_ajouter_image
{
    position: absolute;
    width: 150px;
    height: 150px;
    top: calc(50% - 50px);
    left: calc(50% - 75px);
}

.nouveau_projet .ajouter_image .btn_ajouter_image:hover
{
    color: var(--grey);
}

.nouveau_projet .ajouter_image .btn_ajouter_image i
{
    font-size: 50px;
}

.nouveau_projet .ajouter_image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nouveau_projet .ajouter_image:hover
{
    cursor: pointer;
}

.nouveau_projet .form_footer
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nouveau_projet button
{
    margin: 16px 8px;
    background: #388E3C;
    color: #FFF;
    padding: 14px 16px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 11px;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

.nouveau_projet .btn_enregistrer_brouillon
{
    background: #1976D2;
}

.nouveau_projet .tags_container
{
    padding: 16px 0;
    text-align: left;
}

.nouveau_projet .tags_container .tag 
{
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    font-size: 10px;
}

.nouveau_projet .tags_container .tag::before
{
    background: #FFF;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.nouveau_projet .tags_container .tag::after 
{
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.nouveau_projet .tags_container .tag:hover 
{
    background-color: crimson;
    color: white;
    cursor: pointer;
}
  
.nouveau_projet .tags_container .tag:hover::after 
{
    border-left-color: crimson; 
}

/*********************************************************

    MON COMPTE

*********************************************************/

.compte_content
{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.compte_content .avatar_container,
.compte_content .infos_container
{
    padding: 16px;
}

.compte_content .avatar_container .avatar
{
    position: relative;
    width: 100%;
    padding-top: 100%;
    height: 0;
}

.compte_content .avatar_container .avatar img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    border: 1px solid var(--border);
    object-fit: cover;
}

.compte_content .avatar_container input
{
    display: none;
}

.compte_content .avatar_container .modifier_avatar
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0000008c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    opacity: 0;
    transition-duration: .3s;
}

.compte_content .avatar_container .modifier_avatar:hover
{
    cursor: pointer;
    opacity: 1;
    transition-duration: .3s;
}

.compte_content .avatar_container .modifier_avatar i
{
    font-size: 70px;
}

.compte_content .avatar_container .vos_infos
{
    padding: 32px 0;
}

.compte_content .avatar_container .vos_infos .info 
{
    padding: 8px 0;
}

.compte_content .avatar_container .vos_infos p
{
    font-size: 12px;
    color: var(--grey);
}

.compte_content .avatar_container .vos_infos p .label 
{
    font-weight: 600;
    color: #000;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-size: 13px;
}

.compte_content .avatar_container .vos_infos p .label i
{
    margin-right: 8px;
    font-size: 16px;
}

.compte_content .infos_container form
{
    width: 70%;
    margin: auto;
}

.compte_content .infos_container .libelle_parametres
{
    font-size: 15px;
    margin: 16px 0;
}

.compte_content .infos_container button
{
    display: block;
    width: 40%;
    margin: 16px auto 0 auto;
    border: 1px solid var(--orange);
    background: none;
    color: var(--orange);
    font-weight: 600;
    padding: 8px;
    transition-duration: .3s;
}

.compte_content .infos_container button:hover
{
    cursor: pointer;
    background: var(--orange);
    color: #FFF;
    transition-duration: .3s;
}

.compte_content .infos_container .btn_supprimer_compte
{
    color: red;
    display: block;
    margin-top: 16px;
    font-size: 12px;
    text-align: right;
}

/*********************************************************

    PAGE 404 : NOT FOUND

*********************************************************/

.error_page
{
    background: #fffbf9;
    height: 100vh;
    text-align: center;
    padding: 25px;
}

.error_content
{
    display: grid;
    grid-template-columns: repeat(2, 49%);
    align-items: center;
    column-gap: 10px;
    height: 90vh;
    width: 70%;
    margin: 0 auto;
}

.error_page h1
{
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--orange);
}

.error_page h3
{
    font-size: 30px;
    font-weight: 600;
    margin: 30px 0;
}

.error_page a
{
    display: block;
    margin: 50px auto 0 auto;
    width: 30%;
    border: 2px solid var(--orange);
    padding: 16px;
    text-decoration: none;
    color: var(--orange);
    transition-duration: .3s;
    font-weight: 600;
}

.error_page a:hover
{
    background: var(--orange);
    color: #FFF;
    transition-duration: .3s;
}

/*********************************************************

    RESPONSIVE DESIGN

*********************************************************/

@media only screen and (max-width: 700px)
{
    nav
    {
        padding: 16px;
    }

    nav .nav_content
    {
        width: 100%;
    }

    nav .logo_polyphonia
    {
        font-size: 20px;
    }

    nav .nav_content .menu_mobile
    {
        display: block !important;
        color: var(--orange);
        cursor: pointer;
    }

    nav .logo_polyphonia img
    {
        width: 30px;
        height: 30px;
    }

    nav .nav_content .nav_liens
    {
        position: absolute;
        top: 0;
        left: 0;
        background: #FFF;
        display: block;
        width: 50%;
        height: 100vh;
        transform: translateX(-100%);
        box-shadow: none;
        transition-duration: .3s;
    }

    nav .nav_content .nav_liens.is_visible 
    {
        transform: translateX(0%);
        transition-duration: .3s;
        box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.2),0px 16px 24px 2px rgba(0,0,0,0.14),0px 6px 30px 5px rgba(0,0,0,0.12);
    }

    nav .nav_content .nav_liens a 
    {
        display: flex;
        flex-direction: column;
        padding: 16px 8px;
    }

    nav .nav_content .nav_liens .menu_mobile
    {
        padding: 35px 8px;
    }

    nav .cta .dropdown
    {
        right: 0;
    }

    .container
    {
        width: 100%;
        padding: 8px;
    }

    .message_presentation
    {
        width: 100%;
    }

    .recherche_projet .recherche
    {
        width: 100%;
    }

    .liste_projets
    {
        display: block;
    }

    .projet_header
    {
        height: 300px;
    }

    .projet_contenu
    {
        width: 100%;
    }

    .nouveau_projet form
    {
        width: 100%;
    }

    .compte_content
    {
        display: block;
    }

    .compte_content .infos_container form
    {
        width: 100%;
    }

    .formulaire_connexion form 
    {
        width: 90%;
    }
}